body {
    font-family: 'Poppins', sans-serif;
}

#page-header {
    background-size: cover;
    background-position: center;
    height: calc(100vh * 0.5);
    background-image: url(../img/header1.jpg);
}

#header-block {
    position: absolute;
    width: 720px;
    height: 320px;
    top: calc(100vh * 0.4);
    left: calc(50% - 360px);
    background-color: #1e403b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#header-contents {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-block h1 {
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 50px;    
}

#header-block .line {
    height: 2px;
    width: 80%;
    background-color: white;
    margin: auto;
}

#header-block h2 {
    margin-top: 16px;
    font-size: 27px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 100;
}


#body-WhiteBG{
    position: relative;
    background: white;
}

/* FRAME 1 STYLINGS */

#frame1 {
    background-color: white;
    padding-top: 128px;
    padding-bottom: 128px;
    height: max-content;
    width: fit-content;
    order: 1;
}

#frame1 h1 {
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame1 .line {
    background-color: #1e403b;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame1 p {
    text-align: justify;
    padding-right: 32px;
}

.elga-img {
    width: 100%;
    height: 40vh;
    background-image: url(../img/yuch.jpg);
    background-size: cover;
}

#frame1-block {
    height: 150px;
    width: 230px;
    position: relative;
    top: 75%;
    left: 75%;
    z-index: 1;
    background-color: #1e403b;
}

#frame1 h2 {
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}



/* CSS styles for the div-based table */
table{
    margin-top: 3%;
    border: 1px solid black;
    border-collapse: collapse;;
    width: 100%;
}
th{
    background-color: #1e403b;
    color: white;
    font-size: 28px;
    padding-left: 1%;
    padding-top: 1%;
    border: 1px solid #1e403b;
    border-collapse: collapse;;
}

td{
    padding-left: 1%;
    padding-left: 1%;
    border: 1px solid #D9D9D9;
    border-collapse: collapse;;
    background-color: #D9D9D9;
}

/* Recog */

/* FRAME 2 STYLINGS */

#frame2 {
    background-color: #1e403b;
    padding-top: 128px;
    padding-bottom: 128px;
    height: max-content;
    width: fit-content;
    order: 2;
}

#frame2 h1 {
    color: white;
    font-size: 40px;
    margin-right: 3%;
    margin-left: 3%;
    font-weight: 700;
}

#frame2 .line {
    margin-left: 1%;
    background-color: white;
    margin-right: 4%;
    margin-left: 4%;
    width: 28%;
    height: 3px;
    margin-bottom: 32px;
}

#frame2 .innercover{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 128px;
    margin-right: 4%;
    margin-left: 4%;
    height: fit-content;
    width: fit-content;
}

#frame2 h2 {
    color: #1e403b;
    font-size: 35px;
    font-weight: 700;
}


.award-img {
    width: 100%;
    height: 40vh;
    background-image: url(../img/yuch.jpg);
    background-size: cover;
}

#frame2-block {
    height: 150px;
    width: 230px;
    position: relative;
    top: 75%;
    left: 75%;
    z-index: 1;
    background-color: #1e403b;
}

#frame2 h2 {
    position: relative;
    color: #1e403b;
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}


#award-list {
    position: relative;
    margin-top: 50px;
}

.award-card-title{
    text-align: center;
    font-weight: bold;
    color:#1e403b;
    font-size: 25;
}

.award-card-subtitle{
    text-align: center;
    font-weight: bold;
    color:#1e403b;
    font-size: 25;
}


.award-card-text{
    text-align: center;
    margin-top: 15px;
    color:#1e403b;
    font-size: 18;
}

.card{
    border: none;
}


#frames-container {
    display: flex;
    flex-direction: column;
  }
  
