body {
    font-family: 'Poppins', sans-serif;
}


/* HEADER STYLING */

#page-header {
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url(../img/ece-bg.jpg);
}

#page-name {
    display: flex;
    position: absolute;
    z-index: 1;
    left: calc(100% - 360px);
    top: -32px;
}

#page-name img {
    width: 150px;
    height: auto;
}

#page-name div {
    background-color: white;
    height: 150px;
    width: 320px;
}

#title-text {
    padding-left: 16px;
    padding-top: 45%;
    transform: translateY(-50%);
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#carousel-content {
    height: auto;
    width: 45vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-block h1 {
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 50px;
}

#header-block .line {
    height: 2px;
    width: 80%;
    background-color: white;
    margin: auto;
}


/* FRAME 1 STYLINGS */

#frame1 {
    background-color: white;
    padding-top: 128px;
    padding-bottom: 128px;
    height: max-content;
    width: fit-content;
}

#frame1 h1 {
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame1 .line {
    background-color: #1e403b;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame1 p {
    text-align: justify;
    padding-right: 32px;
}

.cpe-img {
    width: 100%;
    height: 40vh;
    background-image: url(../img/cpe-img1.JPG);
    background-size: cover;
}

#frame1-block {
    height: 150px;
    width: 230px;
    position: relative;
    top: 75%;
    left: 75%;
    z-index: 1;
    background-color: #1e403b;
}

#frame1 h2 {
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}


/* FRAME 2 STYLINGS */

#frame2 {
    margin-top: -10px;
    display: flex;
    background-color: #EFECD6;
    height: fit-content;
    width: 100%;
}

#frame2 h1 {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame2 .line {
    margin-left: 20%;
    background-color: #1e403b;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame2 p {
    text-align: justify;
}

.cpe-img-bg {
    background-image: url(../img/cpe-img2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0%;
    right: 0%;
    width: 90vh;
    height: fit-content;
}

.frame2-col1 {
    width: 50%;
}

.frame2-col1-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.frame2-col2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img2.png);
}


/* FRAME 3 STYLINGS */

#frame3 {
    display: flex;
    background-color: #1e403b;
    height: fit-content;
    width: 100%;
}

#frame3 h1 {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

#frame3 .line {
    margin-left: 20%;
    background-color: white;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame3 p {
    text-align: justify;
    color: white;
}

.cpe-img-bg {
    background-image: url(../img/cpe-img2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0%;
    right: 0%;
    width: 70vh;
    height: fit-content;
}

.frame3-col1 {
    width: 50%;
}

.frame3-col1-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.frame3-col2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img3.png);
}


/* FRAME 4 STYLINGS */

#frame4 {
    background-color: #1e1e1e;
}

#frame4 h1 {
    color: white;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
}


/* FRAME 5 SYLINGS */

.frame5 {
    display: flex;
    height: fit-content;
    width: 100%;
}

.frame5-top {
    margin-top: -10px;
    display: flex;
    height: fit-content;
    width: 100%;
}

.frame5-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 70%;
    width: 100%;
    margin-top: 7.5%;
}

.frame5-container h1 {
    transform: translateY(-50%);
    color: #1e403b;
    font-size: 50px;
    font-weight: 700;
    padding-top: 64%;
    padding-left: 32px;
}

#frame5-block1 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img4.png);
}

#frame5-block2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img5.png);
}

#frame5-block3 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img6.png);
}

#frame5-block4 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img7.png);
}

#frame5-block5 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img8.png);
}

#frame5-block6 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/cpe-img9.png);
}


/* FRAME 6 STYLINGS */

#frames-container {
    display: flex;
    flex-direction: column;
}

#frame6 {
    background-color: white;
    padding-top: 64px;
    padding-bottom: 64px;
    height: max-content;
    width: fit-content;
    order: 3;
}

#frame6 h1 {
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame6 .line {
    background-color: #1e403b;
    width: 27%;
    height: 3px;
    margin-bottom: 32px;
}

#frame6 .title {
    text-align: justify;
    font-weight: bolder;
    font-size: 23px;
    list-style-type: none;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: white;
}

#frame6 .whitecell {
    list-style-type: none;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: white;
}

#frame6 .nobullet {
    text-align: justify;
    list-style-type: none;
    border: 1px solid white;
    border-collapse: collapse;
    background-color: white;
}

.peo-img {
    width: 18vb;
    height: 18vh;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* FRAME 7 STYLINGS */

#frame7 {
    background-image: url(../img/facade.jpg);
    background-size: cover;
    /* background-color: #EFECD6; */
    padding-top: 48px;
    padding-bottom: 48px;
    height: max-content;
}

#frame7 .container {
    padding-top: 64px;
}

#frame7 #title-block {
    margin: 0 auto;
    width: 40%;
    height: 64px;
    background-color: white;
}

#frame7 h1 {
    color: #1e403b;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 700;
}

#frame7 img {
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 64px;
}


/* CSS styles for the div-based table */

table {
    margin-top: 3%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th {
    background-color: #1e403b;
    color: white;
    font-size: 24px;
    padding-left: 1%;
    height: 60px;
    border: 1px solid #1e403b;
    border-collapse: collapse;
}

.SO-id {
    width: 20%;
    text-align: center;
    font-weight: 1000;
}

td {
    height: 60px;
    padding-left: 20px;
}

td,
tr {
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: #D9D9D9;
}


/* FRAME 8 STYLINGS */

#frame8 {
    height: 50vh;
    background-color: #1e403b;
}

#frame8 #page-name {
    display: flex;
    position: absolute;
    z-index: -1;
    left: calc(100% - 200px);
    top: -100px;
}

#frame8 #page-name div {
    background-color: white;
    height: 120px;
    width: 280px;
}

#frame8 #title-text {
    padding-left: 16px;
    padding-top: 45%;
    transform: translateY(-50%);
    color: #1e403b;
    font-size: 32px;
    font-weight: 700;
}

#frame8 #carousel-content {
    height: auto;
    width: 45vw;
    position: relative;
    top: 60%;
    transform: translateY(-50%);
}


/* FRAME 9 STYLINGS */


/* FRAME 10 STYLINGS */

#frame10 {
    background-color: #EFECD6;
}

#frame10 .container {
    padding-top: 64px;
}

#frame10 #title-block {
    width: 100%;
    height: 64px;
    background-color: #1e403b;
}

#frame10 h1 {
    color: white;
    padding-top: 10px;
    font-size: 40px;
    font-weight: 700;
}

#frame10 img {
    width: 100%;
    height: auto;
    margin-top: 32px;
    margin-bottom: 64px;
}