body {
    font-family: 'Poppins', sans-serif;
}


/* HEADER STYLING */

#page-header {
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-image: url(../img/grad-img2.jpg);
}

#page-name {
    display: flex;
    position: absolute;
    z-index: 1;
    left: calc(100% - 360px);
    top: -32px;
}

#page-name img {
    width: 150px;
    height: auto;
}

#page-name div {
    background-color: white;
    height: 150px;
    width: 320px;
}

#title-text {
    padding-left: 16px;
    padding-top: 45%;
    transform: translateY(-50%);
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#carousel-content {
    height: auto;
    width: 45vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-block h1 {
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 50px;
}

#header-block .line {
    height: 2px;
    width: 80%;
    background-color: white;
    margin: auto;
}


/* FRAME 2 STYLINGS */

#frame2 {
    display: flex;
    background-color: #EFECD6;
    height: fit-content;
    width: 100%;
}

#frame2 h1 {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame2 .line {
    margin-left: 20%;
    background-color: #1e403b;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame2 p {
    text-align: justify;
}

.frame2-col1 {
    width: 50%;
}

.frame2-col1-container {
    margin-top: 80px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.frame2-col2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img2.png);
}


/* FRAME 3 STYLINGS */

#frame3 {
    display: flex;
    background-color: #1e403b;
    height: fit-content;
    width: 100%;
}

#frame3 h1 {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

#frame3 .line {
    margin-left: 20%;
    background-color: white;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame3 p {
    text-align: justify;
    color: white;
}

.frame3-col1 {
    width: 50%;
}

.frame3-col1-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.frame3-col2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img3.png);
}


/* FRAME 5 SYLINGS */

.frame5 {
    display: flex;
    height: fit-content;
    width: 100%;
}

.frame5-top {
    margin-top: -10px;
    display: flex;
    height: fit-content;
    width: 100%;
}

.frame5-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 70%;
    width: 100%;
    margin-top: 7.5%;
}

.frame5-container h3 {
    transform: translateY(-50%);
    color: #1e403b;
    font-size: 50px;
    font-weight: 700;
    padding-top: 64%;
    padding-left: 32px;
}

#frame5-block1 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(../img/grad-img1.jpg);
}

#frame5-block2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img5.png);
}

#frame5-block3 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img6.png);
}

#frame5-block4 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img7.png);
}

#frame5-block5 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img8.png);
}

#frame5-block6 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img9.png);
}

#frame4 {
    display: flex;
    background-color: #EFECD6;
    height: fit-content;
    width: 100%;
}

#frame4 h1 {
    width: 100%;
    text-align: center;
    padding-top: 64px;
    color: #1e403b;
    font-size: 40px;
    font-weight: 700;
}

#frame4 .line {
    margin-left: 20%;
    background-color: #1e403b;
    width: 60%;
    height: 3px;
    margin-bottom: 32px;
}

#frame4 p {
    text-align: justify;
}

.cpe-img-bg {
    background-image: url(/img/cpe-img2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0%;
    right: 0%;
    width: 90vh;
    height: fit-content;
}

.frame4-col1 {
    width: 50%;
}

.frame4-col1-container {
    margin-top: 0px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.frame4-col2 {
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 50%;
    background-image: url(/img/cpe-img2.png);
}